<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <h1>Bem-vindo, <%= user.username %> (Admin)</h1>
  <ul>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/contato">Contato</a></li>
    <li><a href="/relatorios">Relatórios</a></li>
  </ul>
  <a href="/logout">Logout</a>
</body>
</html>
